.container-bg {
    background-color: aqua;
    border: 2px solid blue;
}

.bg-one {
    background-color: rgb(228, 154, 64);
    border: 2px solid brown;
}

.bg-two {
    background-color: rgb(193, 145, 237);
    border: 2px solid rgb(163, 7, 163);
}

.bg-three {
    background-color: rgb(80, 223, 80);
    border: 2px solid rgb(12, 62, 1);
}


.alert { 
    margin-bottom: 0 !important;
}

.bg-dark {
    background-color: #055160 !important;
}
.form-container {
    border: 2px solid #055160;
    margin: 20px;
    margin-top: 40px;
    padding: 30px;
}

.nav-link {
    display: block;
    padding: 0.5rem 1rem;
    color: rgba(255,255,255,.55);
    text-decoration: none;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
}

#offcanvasExampleLabel {
    color: white;
}

.btn-dark {
    color: #fff;
    background-color: #055160;
    border-color: #055160;
}