<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bootstrap - Accordion Component</title>
    <link rel="stylesheet" href="../css/bootstrap.min.css">
</head>
<body>
    
    <br><br><br>
    <div class="container">
            <button type="button" class="btn btn-primary">
                Inbox <span class="badge bg-warning">16</span>
            </button>


          <div class="badge bg-success" role="alert">
            A simple success alert—check it out!
          </div>
          <div class="badge bg-danger" role="badge">
            A simple danger badge—check it out!
          </div>
          <div class="badge bg-warning" role="badge">
            A simple warning badge—check it out!
          </div>
          <div class="badge bg-info" role="badge">
            A simple info alert—check it out!
          </div>
          
    </div> <br><br><br>
   
    <div class="container">
          <a class="badge bg-success" href="#">
            A simple success alert—check it out!
          </a>
          <a class="badge bg-danger" href="#">
            A simple danger badge—check it out!
          </a>
          <a class="badge bg-warning" href="#">
            A simple warning badge—check it out!
          </a>
          <a class="badge bg-info" href="#">
            A simple info alert—check it out!
          </a>
        </div>
    <script src="../js/bootstrap.min.js"></script>
   
</body>
</html>