<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bootstrap - Accordion Component</title>
    <link rel="stylesheet" href="../css/bootstrap.min.css">
</head>
<body>
    
    <br><br><br>
    <div class="container">
        <button type="button" class="btn btn-primary">
                Inbox <span class="badge bg-warning">16</span>
        </button>
        <button type="button" class="btn btn-success">
            Create 
        </button>
        <button type="button" class="btn btn-warning">
            Update 
        </button>
        <button type="button" class="btn btn-danger">
            Delete 
        </button> 
    </div> <br><br><br>
   
    <div class="container">
        <button type="button" class="btn btn-danger btn-lg">
            Delete 
        </button> 
        <button type="button" class="btn btn-danger">
            Delete 
        </button> 
        <button type="button" class="btn btn-danger btn-sm">
            Delete 
        </button> 
    </div>

    <div class="container">
        <button type="button" class="btn btn-warning  btn-block">
            Delete 
        </button> 
        <button type="button" class="btn btn-warning btn-block">
            Delete 
        </button> 
        <button type="button" class="btn btn-warning btn-block">
            Delete 
        </button> 
        <button type="button"
            class="btn btn-block btn-primary">
            Block Level Button
        </button>
        <button type="button"
            class="btn btn-block btn-success">
            Block Level Button
        </button>
    </div>
    
    <script src="../js/bootstrap.min.js"></script>
   
</body>
</html>