<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bootstrap - Accordion Component</title>
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    
    <div class="container-fluid container-bg">
        
        <div class="row">
            <div class="col-sm-6 bg-one">
                <h1>Product One</h1>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sint dicta omnis corporis ea cumque beatae vitae aliquam, sunt quaerat autem. Quibusdam eligendi aliquam dolores aut corrupti fuga! Quae, cum et.</p>
            </div>
            <div class="col-sm-3 bg-two">
                <h1>Product Two</h1>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sint dicta omnis corporis ea cumque beatae vitae aliquam, sunt quaerat autem. Quibusdam eligendi aliquam dolores aut corrupti fuga! Quae, cum et.</p>
            </div>
            <div class="col-sm-3 bg-three">
                <h1>Product Three</h1>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sint dicta omnis corporis ea cumque beatae vitae aliquam, sunt quaerat autem. Quibusdam eligendi aliquam dolores aut corrupti fuga! Quae, cum et.</p>
            </div>
        </div>


        <div class="row">
            <div class="col-md-4 bg-three">
                <h1>Product One</h1>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sint dicta omnis corporis ea cumque beatae vitae aliquam, sunt quaerat autem. Quibusdam eligendi aliquam dolores aut corrupti fuga! Quae, cum et.</p>
            </div>
            <div class="col-md-2 bg-one">
                <h1>Product Two</h1>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sint dicta omnis corporis ea cumque beatae vitae aliquam, sunt quaerat autem. Quibusdam eligendi aliquam dolores aut corrupti fuga! Quae, cum et.</p>
            </div>
            <div class="col-md-6 bg-two">
                <h1>Product Three</h1>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sint dicta omnis corporis ea cumque beatae vitae aliquam, sunt quaerat autem. Quibusdam eligendi aliquam dolores aut corrupti fuga! Quae, cum et.</p>
            </div>
        </div>

        <div class="row">
            <div class="col-xl-2 bg-one">
                <h1>Product One</h1>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sint dicta omnis corporis ea cumque beatae vitae aliquam, sunt quaerat autem. Quibusdam eligendi aliquam dolores aut corrupti fuga! Quae, cum et.</p>
            </div>
            <div class="col-xl-2 bg-two">
                <h1>Product Two</h1>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sint dicta omnis corporis ea cumque beatae vitae aliquam, sunt quaerat autem. Quibusdam eligendi aliquam dolores aut corrupti fuga! Quae, cum et.</p>
            </div>
            <div class="col-xl-8 bg-three">
                <h1>Product Three</h1>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sint dicta omnis corporis ea cumque beatae vitae aliquam, sunt quaerat autem. Quibusdam eligendi aliquam dolores aut corrupti fuga! Quae, cum et.</p>
            </div>
        </div>
    </div>
  

    <script src="../js/bootstrap.min.js"></script>
 
</body>
</html>